*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  font-size:62.5%;
}
a{
  font-size: 1.6rem;
}
nav{
  background-color: #2C3E50;
  width: 100vw;
  position: fixed;
  z-index: 1;
}
.nav_title, .nav_item, .ham_menu{
  color: white;
  font-size: 2rem;
  height: 50px;
  line-height: 50px;
}
.nav_item ul li{
  display: inline-block;
}
.nav_item ul li:not(:last-child){
  padding-right: 10px;
}
nav i{
  border-radius: 10%;
  padding: 5px;
  border: 1px solid white;
}

#avatar_header{
  text-align: center;
  background-color: #1ABC9C;
  color: white;
  padding-top: 50px;
}
#avatar{
  height: 300px;
  width: 300px;
}
#avatar_header{
  color: white;
}
.hor_sep_left,
.hor_sep_right{
  height: 1px;
  width: 30%;
  display: inline-block;
  border: 1px solid;
  border-radius: 5%;
  vertical-align: middle;
}
.star{
  vertical-align: middle;
  width: 10%;
  display: inline-block;
}
#portfolio{
  margin-top: 20px;
  color: #2C3E50;
  text-align: center;
}
#portfolio h1 {
  font-weight: bold;
}
#portfolio .hor_sep_left,
#portfolio .hor_sep_right{
  border-bottom: 2px solid #2C3E50;
}
#portfolio img{
  width: 100%;
  border-radius: 5%;
  margin: 5px 0;
  padding: 0 5px;
}
#about{
  color: white;
  background-color: #1ABC9C;
  text-align: center;
  padding-bottom: 50px;
}
#about h1{
  font-weight: bold;
}
#about p{
  font-size: 1.8rem;
  text-align: left;
}
#about a i{
  margin-top: 50px;
}
#about a{
  color: white;
  border: 1px solid;
  border-radius: 5%;
  padding: 5px;
}
#contact_me{
  color: #2C3E50;
  background-color:white;
  padding-bottom: 50px;
}
#contact_me h1{
  font-weight: bold;
}
#contact_me .container .row:first-child,
#contact_me .row:nth-child(2n){
  text-align: center;
}
#contact_me .hor_sep_left,
#contact_me .hor_sep_right{
  border-bottom: 1px solid #2C3E50;
}

#contact_me form{
  font-size: 2rem;
}
#contact_me form input,
#contact_me form label,
#contact_me form textarea{
  padding: 0 0 15px 0;
  border-top: none;
  border-left: none;
  border-right: none;
}
#contact_me input[placeholder]{
  color:black;

}
#contact_me label[for="messaggio"]{
  font-weight: normal;
  opacity: 0.8;
}
#contact_me form input[value="Send"]{
  background-color: #1ABC9C;
  color: white;
  padding:5px 10px;
  margin-top: 10px;
  border-radius: 10%;
}
#footer_color{
  font-size: 1.6rem;
  color: white;
  background-color: #3A546D;
  text-align: center;
  padding-bottom: 20px;
}
footer .logo_container i:not(.fa-google-plus){
  margin: 5px;
  padding: 15px 17px 15px 17px;
  border-radius: 50%;
  border: 1px solid white;

}
footer .fa-google-plus{
  margin: 5px;
  padding: 15px 12px 15px 12px;
  border-radius: 50%;
  border: 1px solid white;
}

footer section .col-xs-12 p a{
  color: #19B597;
}
#copyright{
  background-color: #2C3E50;
}
#copyright .row{
  padding: 30px 0 30px 0;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
/* / Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
COLONNE BOOTSTRAP
.col- (extra small devices - screen width less than 576px)
.col-sm- (small devices - screen width equal to or greater than 576px)
.col-md- (medium devices - screen width equal to or greater than 768px)
.col-lg- (large devices - screen width equal to or greater than 992px)
.col-xl- (xlarge devices - screen width equal to or greater than 1200px)
*/
